// primary colors
$fontPrimaryColor :#54585b;
$fontSecondaryColor:  black;
$primaryColor:  rgb(255, 228, 196);
$secondaryColor: #3d373c;
$tertiaryColor: rgb(118, 161, 145);
$quaternaryColor: rgb(9, 236, 160);
$otherColor:  rgb(253, 238, 219);