// primary colors
$fontPrimaryColor :#54585b;
$fontSecondaryColor:  black;
$primaryColor:  rgb(255, 228, 196);
$secondaryColor: #3d373c;
$tertiaryColor: rgb(118, 161, 145);
$quaternaryColor: rgb(9, 236, 160);
$otherColor:  rgb(253, 238, 219);


//colors
$color-primary: rgb(255, 228, 196);
$color-primary-light: rgb(253, 238, 219);
$color-secondary: #3d373c;
$color-tertiary: rgb(118, 161, 145);
$color-quaternary: #54585b;


$color-light: #ffffff; 
$color-dark-lighter: #ccc;
$color-dark: #152934;

//typography

$font-family-titles: "Poiret one";
$font-family-text: 'Quicksand',Helvetica,Arial,Lucida,sans-serif;
$font-size: 1rem;
$line-height: 1.5;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
