.button__container {
    font-size: 2px;
    cursor: pointer;
    position: fixed;
    top:0px;
    right:15px;
    padding: 5px;
    
    @media all and (min-width: 768px) {
      display: none;
    }
  }
  
  .menu-icon {
    display: grid;
    place-items: center;
    height:55px;
    width: 50px;
    cursor: pointer;
  

    & > span {
      width: 40px;
      height: 3px;
      background:white;
      display: block;
      transition: all 0.3s ease-in-out;
      
    }
    
    &:hover span:nth-child(1) {
      width: 35px;
   
    }
    
    &:hover span:nth-child(2) {    
      width: 40px;
   
    }
    
    &.active span:nth-child(1) {
      transform-origin: center center;
      transform: rotate(-45deg) translate(-12px, 12px);
      width: 55px;
   
    }
    
    &.active span:nth-child(2) {
      transform: translateX(10px);
      opacity: 0;
   
    }
    
    &.active span:nth-child(3) {
      transform-origin: center center;
      transform: rotate(45deg) translate(-15px, -14px);
      width: 55px;
   
    }
   
    .line-1 {
      width: 42px;
      justify-self: end;
    }
    
    .line-2 {
      width: 35px;
      justify-self: end;
    }
    .line-3 {
        width: 45px;
        justify-self: end;
      }
  }

  .header{
    &__logo{
      &--github{
        position: fixed;
        top:18px;
        left:25px;
        width: 30px;
        height: 30px;
     
      }
      &--linkedin{
        position: fixed;
        top:18px;
        left:75px;
        width: 30px;
        height: 30px;
      }
    }
  &__browser {
    display:none;
    list-style-type: none;

    @media all and (min-width: 768px) {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
    }
    @media all and (min-width:1280px){
      justify-content: flex-end;
      margin-right: 20px;
    }
  
    &--element {
      overflow: hidden;
      margin: 10px;
      padding: 10px;
      color: $fontPrimaryColor;
     
      
      
    }
  }

  &__link {
    text-decoration: none;
    font-weight: lighter;
    font-size: 14px;
    text-transform: capitalize;
   
    

    @media all and (min-width: 768px) {
      font-size: 18px;
    }
    @media all and (min-width:1280px){
      font-size: 20px;
    }
    &:hover {
      color:pink;

    }
  }

  }
.navigator{ 
  height: 100vh;
  bottom: 0;
  

  
} 
.burger__browser{

  &--list{
    height: 100vh;
  position: fixed;
  top: 50px;
  list-style: none;
  opacity: 0;
  transition: opacity 0.6s ease;
  width: 100vw;
  
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;

 

    &-open{
    right: 0px;
    opacity: 1;
    transition: opacity 0.3s ease-out ;

    background-color: rgba(255, 228, 196, 1); 
   
      @media all and (min-width: 768px) {
        display: none;
      }
    }
  }

  &--elements{
  font-size: 60px;
  font-weight: bold;


 

    & a{
      text-decoration: none;
      color: black;
      padding: 8px 200px;
      margin: 20px 0;
      border-bottom: 2px solid rgb(236, 215, 215);

      transition: color 0.7s ease-in-out;
      
      &:hover{
          font-weight: 700;
        
        
      
          
      } 
  }
}
}

