//Falta transición cierre burgerButton
//Falta afinar transición hower burgerButton

.headerMenu{
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4.063rem;
  align-items:center;
  width: 100vw;
  height: 4.063rem;
  position: fixed;
  top: 0;
  background-color:$primaryColor;
  border-bottom: 0.125rem solid $color-light;

    @media all and (min-width: 768px) {
      height: 4.375rem;
    }
 
  &__link{
    padding: 0.625rem;
    color: $color-secondary;
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

      @media all and (min-width: 768px) {
        font-size: 1.125rem;
      }

      @media all and (min-width:1280px){
        font-size: 1.25rem;
      }

      &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
      }
      &:hover::before {
        transform: scaleX(1);
      }
  }
  &__iconBrowser{
    display:flex;
    justify-content: space-between;
  }

  &__icon{
    position: fixed;
    width: 20px;
    height: 20px;
    left: 30px;
      @media all and (min-width: 768px) {
        width: 25px;
        height: 25px;
        left: 35px;
      }

      &--github{
        top:20px;
      }

      &--linkedin{
        top:20px;
        left:65px; 
          @media all and (min-width: 768px) {
            left: 85px; 
          }
      }
      &--email{
        left:105px;
        top: 22px;
          @media all and (min-width: 768px) {
            left: 135px; 
          }
      }
  }

  &__browser {
    display:none;
    list-style-type: none;
    
      @media all and (min-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-right: 20px;
      }

      &--element {
        overflow: hidden;
        margin: 10px;
        padding: 10px;
        color: $fontPrimaryColor;
       }
  }

  &__burgerButton--container {
    font-size: 2px;
    cursor: pointer;
    position: fixed;
    top:0px;
    right:15px;
    padding: 5px;
   
      @media all and (min-width: 768px) {
        display: none;
      }
  }
}

#burgerButton__navigator {
  transition: all ease 1.4s;
}

.burgerButton{
  &__navigator{ 
    top: -465px;
    transition: all ease 1.4s;
    &--open { 
       width: 90%;
       position: fixed;
       left: 5%;
       z-index: 999;
       top: 65px;  
      
     
      } 
  }
  &__browser{

    &--list{
   
    opacity: 0;
    transition: opacity 1.8s ease-out;
    
    
      &-open{
        opacity: 2;
        transition: opacity 2.3s ease-out ;
        background-color: rgba(255, 228, 196, 1); 
        border-top: 3px solid white;
    // z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    list-style: none;
          @media all and (min-width: 768px) {
            display: none;
          }
      }
    }
  
    &--elements{
      text-align: center;
    }
  
    
  
      &--link{
        position: relative;
        display: block;
        text-decoration: none;
        color: rgb(122, 117, 117);
        font-size: 18px;
        font-weight: bold;
        padding: 10px 80px;
        margin: 25px;
        border-bottom: 2px solid rgb(236, 215, 215);
        background-color: transparent;
        font-family: 'Poiret One', cursive;
        
        &::before{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
          z-index: 1;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.5s ease-in-out;
        }
        &:hover::before {
          transform: scaleX(1);
        }
  
        } 
    }
  &__icon {
    display: grid;
    place-items: center;
    height:55px;
    width: 50px;
    cursor: pointer;
 
    & > span {
      width: 40px;
      height: 3px;
      background:white;
      display: block;
      transition: all 0.6s ease-in-out;
    }
    
    &:hover span:nth-child(1) {
      width: 25px;
    }
    
    &:hover span:nth-child(2) {    
      width: 30px;
    }
    
    &.active span:nth-child(1) {
      transform-origin: center center;
      transform: rotate(-45deg) translate(-12px, 12px);
      width: 55px;
    }
    
    &.active span:nth-child(2) {
      transform: translateX(10px);
      opacity: 0;
    }
    
    &.active span:nth-child(3) {
      transform-origin: center center;
      transform: rotate(45deg) translate(-15px, -14px);
      width: 55px;
    }

    &--line{
      &-1 {
        width: 42px;
        justify-self: end;
      }
      
      &-2 {
        width: 35px;
        justify-self: end;
      }
      &-3 {
          width: 45px;
          justify-self: end;
        }
    }
  }
}