.projectDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    &__title   {
        font-family: "Poiret one";
        font-weight: bold;
        font-size: 34px;
    }
    &__description{
        font-family: "Poiret one";
        font-size: 20px;
    }
    &__img{
        width: 60%;
        height: 40%;
        &-container{
            
        }
    }
    &__link{
            position: fixed;
            width: 20px;
            height: 20px;
            left: 30px;
            @media all and (min-width: 768px) {
              width: 25px;
              height: 25px;
              left: 35px;
            }
            &--github{
              top:20px;
          
            }
            &--webLink{
              top:20px;
              left:65px; 
              @media all and (min-width: 768px) {
                left: 85px; 
              }
            
          }
    }
}

